@model Log[]
@{
    ViewData["Title"] = "日志列表";
}

<h2>There are the Log4NetDB LogInfos</h2>
<table class="table table-hover">
    <caption><b>LogInfos</b>
    </caption>
    
    <thead>
        <tr>
            <th >创建时间</th>
            <th >记录等级</th>
            <th >Logger方法</th>
            <th >错误信息</th>
            <th>异常信息</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var it in Model)
        {
            <tr>
                <td>@it.Date</td>
                <td>@it.Level</td>
                <td>@it.Logger</td>
                <td>@it.Message</td>
                <td><a href="~/Home/ExceptionInfo/@it.Id">查看详细异常</a></td>
            </tr>
        }
    </tbody>
</table>