@model Log[]
@{
    ViewData["Title"] = "日志";
}
<h2 class="text-c">My Web LogInfos</h2>
<table class="table table-border table-bordered table-hover">
    <thead>
        <tr>
            <th>@Model[0].Date</th>
            <th>表头</th>
            <th>表头</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
        <tr>
            <th>类别</th>
            <td>表格内容</td>
            <td>表格内容</td>
        </tr>
    </tbody>
</table>
